
.mat-sidenav {
    width: 80%;
    padding-left: 10px;
  }
  .mat-sidenav-container {
      background-color: white !important;
      height: 100vh;
  }
  .mat-sidenav-container .mat-sidenav-content {
      display: flex;
      flex-direction: column;
  }
  
  .sidenav-toolbar {
      height: 64px;
      background-color: white;
      display: flex;
      flex-direction: row;
  }
  @media (max-width: 600px) {
      .sidenav-toolbar {
          height: 56px;
     }
  }
  
  .mat-nav-list {
    padding-top: 0;
  }
  
  .menu-list-item.mat-list-item .mat-list-item-content {
      flex: 1 1 100%;
  }
  
  .version-info {
    font-size: 8pt;
    padding: 8px;
    align-self: flex-end;
  }
  /* Loader */
  .loader {
    /* border: 1px solid #ccc; */
    padding: 20px;
    display: flex;
    justify-content: center;  
  }
  .loader_ajax_small {
    border: 2px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    -webkit-animation: spin_loader_ajax_small 2s linear infinite;
    animation: spin_loader_ajax_small 2s linear infinite;
  }
  
  @-webkit-keyframes spin_loader_ajax_small {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin_loader_ajax_small {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Loader end */