<app-header></app-header>
<div class="footer-contact-box">
    <h1>{{'Register.ContactUs'|translate}}</h1>
    <p>
    <i class="fas fa-phone"></i> <a href="tel:5562691919">55 6269 1919</a>
    </p>
    <p>
            <i class="fab fa-whatsapp"></i> <a href="tel:+52(1)3320015312">+52 (1) 33 2001 5312</a>, <a href="tel:+52(1)5540589672">+52 (1) 55 4058 9672</a>
    </p>
    <p>
    <i class="fas fa-envelope"></i> <a href="mailto:support@pistis.com.mx">support@pistis.com.mx</a>
    </p>
    </div>
    <app-footer></app-footer>